[submodule "ScopeFoundry"]
	path = ScopeFoundry
	url = https://github.com/ScopeFoundry/ScopeFoundry.git
[submodule "ScopeFoundryHW/mcp_server"]
	path = ScopeFoundryHW/mcp_server
	url = https://github.com/ScopeFoundry/HW_mcp_server
[submodule "ScopeFoundryHW/session_manager"]
	path = ScopeFoundryHW/session_manager
	url = https://github.com/ScopeFoundry/HW_session_manager
[submodule "ScopeFoundryHW/asi_stage"]
	path = ScopeFoundryHW/asi_stage
	url = https://github.com/ScopeFoundry/HW_asi_stage
[submodule "ScopeFoundryHW/acton_spec"]
	path = ScopeFoundryHW/acton_spec
	url = https://github.com/ScopeFoundry/HW_acton_spec
[submodule "ScopeFoundryHW/andor_camera"]
	path = ScopeFoundryHW/andor_camera
	url = https://github.com/ScopeFoundry/HW_andor_camera
[submodule "ScopeFoundryHW/picoharp"]
	path = ScopeFoundryHW/picoharp
	url = https://github.com/ScopeFoundry/HW_picoharp
[submodule "ScopeFoundryHW/toupcam"]
	path = ScopeFoundryHW/toupcam
	url = https://github.com/ScopeFoundry/HW_toupcam
[submodule "ScopeFoundryHW/ni_daq"]
	path = ScopeFoundryHW/ni_daq
	url = https://github.com/ScopeFoundry/HW_ni_daq
[submodule "ScopeFoundryHW/sync_raster_daq"]
	path = ScopeFoundryHW/sync_raster_daq
	url = https://github.com/UBene/HW_sync_raster_daq
